@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    //To render a view using the layout view(_Layout.cshtml) Layout property is set.
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.PageTitle;
}

<h3>@Model.PageTitle</h3>

<div>
    Name : @Model.Employee.Name
</div>
<div>
    Email : @Model.Employee.Email
</div>
<div>
    Department : @Model.Employee.Department
</div>



@*Providing Section Content : Every view that intends to provide content for the section, must include a section with the 
    same name. We use @section directive to include the section and provide the content*@
@*In our case, we want the details view to include <script> tag in the "Scripts" section in the layout page.
    To achieve this we include "Scripts" section in Details.cshtml as shown below.*@
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
