@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    //Please note : If you want to use a layout file that is different from what is specified in _ViewStart.cshtml, 
    //    you can do so by setting the Layout property in an individual view.You can also set the Layout property to null, 
    //    if you want your view to be rendered without a layout view.

    ViewBag.Title = Model.PageTitle;
}

<h3>@Model.PageTitle</h3>

<div>
    Name : @Model.Employee.Name
</div>
<div>
    Email : @Model.Employee.Email
</div>
<div>
    Department : @Model.Employee.Department
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
